/* ---------- General ---------- */

body {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    line-height: 1.6;
    color: #13604f;

    background: linear-gradient(to bottom, #84d3cf, #9ee6c7,  #f6ffe6);
     background: linear-gradient(
        120deg,
        #ffffff,
        #84d3cf,
        #9ee6c7,
        #f6ffe6
    );

    background-size: 300% 300%;

    animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

    
}


/* ---------- Header ---------- */

header {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #222;
}


/* ---------- Navigation ---------- */
nav {
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
}

nav a {
    color: #222;
    text-decoration: unset;
}

nav a:hover {
    text-decoration: underline;
}

/* ---------- Main content ---------- */

h1 {
    font-size: 3rem;
    font-weight: normal;
}


h2 {
    margin-top: 50px;
    font-weight: normal;
}

h3 {
    font-size: 0.8rem;
    font-weight: normal;
    font-style: italic;
}

main {
    max-width: 750px;
}

p {
    text-align: justify;
    width: 100%;
}

/* ---------- Intro ---------- */
.intro-section {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.intro-image {
    width: 400px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #fffdfd;
}

.intro-text {
    text-align: center;
}

/* ---------- Research projects ---------- */


.project-grid- {
    display: grid;
    gap: 30px;
    margin-top: 50px;
}

.project-grid-research {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.project-card {
    display: block;
    padding: 30px;
    border: 4px solid #fffdfd;
    text-decoration: none;
    color: #13603d;
    transition: border-color 0.2s, transform 0.2s;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    background: #b4ecda71;
    }

.project-card h2 {
    margin-top: 0;
}

.project-card p {
    margin-bottom: 0;
    color: #13603d;
}

.project-card:hover {
    border-color: #042c1a;
    transform: translateY(-4px);
}


.project-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 2px solid #fffdfde1;
}

.references {
    margin-top: 80px;
    padding-top: 30px;
    border-top: 2px solid #c7f1e4;
    font-size: 0.85rem;
    color: #4a6157;
}

.references h2 {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 20px;
}

.references li {
    margin-bottom: 10px;
}

.contact-links {
    display: flex;
    gap: 25px;
    margin-top: 40px;
}

.contact-links a {
    color: #222;
    text-decoration: none;
}

.contact-links i {
    margin-right: 8px;
}

.contact-links a:hover {
    opacity: 0.6;
}
/* ---------- Images ---------- */

.gif-row {
    display: flex;
    gap: 30px;
    margin: 40px 0;
}

.image-hover {
    position: relative;
}

.centered-image {
    width: 60%;
    display: block;
    margin: 30px auto;
}

.gif-row .image-hover {
    width: 50%;
}

.gif-row .image-hover img {
    width: 100%;
    height: auto;
    display: block;
}
.image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba(0, 0, 0, 0.7);
    color: white;

    padding: 10px;
    text-align: center;

    opacity: 0;
    transition: opacity 0.3s;
}

.image-hover:hover .image-caption {
    opacity: 1;
}

.art-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 50px;
}

.art-piece img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    border: 2px solid #fffdfde1;
}


.art-title {
    margin: 8px 0 0 0;
    text-align: center;
    font-size: 16px;
}

.lightbox {
    display: none;
    position: fixed !important;
    z-index: 9999 !important;

    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;

    width: 100vw !important;
    height: 100vh !important;

    background: rgba(0, 0, 0, 0.85) !important;

    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.lightbox img {
    max-width: 90vw;
    max-height: 90vh;

    width: auto;
    height: auto;

    object-fit: contain;
}
/* ---------- Footer ---------- */

footer {
    max-width: 1100px;
    margin: 100px auto 40px;
    padding: 0 40px;

    color: #27272796;
    font-size: 14px;
}