<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
</head>

<body>

<nav>
    <a href="{{ '/' | url }}">Home</a>
    <a href="{{ '/research/' | url }}">Research</a>
    <a href="{{ '/art/' | url }}">Art</a>
    <a href="{{ '/other/' | url }}">Other</a>
    <a href="{{ '/contact/' | url }}">Contact</a>
</nav>

{{ content | safe }}

</body>

<footer>
    <p>© 2026 Elise Loffet</p>
</footer>

</html>

