<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<nav>
    <a href="/">Home</a>
    <a href="/research/">Research</a>
    <a href="/art/">Art</a>
    <a href="/other/">Other</a>
    <a href="/contact/">Contact</a>
</nav>

{{ content | safe }}

</body>

<footer>
    <p>© 2026 Elise Loffet</p>
</footer>

</html>

